
           h1{
                color:white;
                
                
            }

            p,h2{
               text-align: center;
               
            }

            
            
            .header{
                background-color: cadetblue;
                flex-direction: column;
                justify-content: space-around;
                
            }
            .menu{
                display: flex;
                justify-content: flex-end;
                
            }
            .grid{
                
               background-color: lightyellow;
                display:flex;
                flex-wrap: wrap;
                justify-content: space-evenly;

            }
            .footer{
                background-color:darkcyan;
                display: flex;
                justify-content: flex-end;
            }

            a:link{
                color: chartreuse;
            }


            a:visited{
            color: black;
            }

            .item{
                position:relative
            }

            .item p {
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                opacity:0;
               font-size: xx-large;
               font: bolder;
            }

            .item:hover p{
                opacity:1
            }

            .item:hover img{
                opacity:0.33;
            }